.game {
  width: 50vw;
  height: 50vw;
  min-width: 500px;
  min-height: 500px;
  max-width: calc(100vh - 2em);
  max-height: calc(100vh - 2em);
  overflow: hidden;
}

.game-board-intersection {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.game-board {
  width: 100%;
  height: 100%;
}
